<section class=" py-10" id="about">
    <div class="rtl text-center py-10 lg:px-0 px-6">
        <h1 class="text-brownColor-400 font-semibold text-3xl lg:text-4xl">مؤسسة رونق الطبيعة للتجارة</h1>
        <p class="text-brownColor-300 opacity-80 mt-5 text-justify max-w-lg mx-auto">
        شركة سعودية رائدة في قطاع مستلزمات الحيوانات الأليفة على صعيد السوق المحلي والخليجي،
        نستهدف احتياجات السوق بدقة ونستوردها بكفاءة تخدم نمو مبيعاتك وتساهم في مضاعفة نجاحاتك
        ابتداءً من توفير أساسيات الرعاية حتى الرخاء.</p>
    </div>
</section>