<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#9EDD82ff" fill-opacity="1" d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
<footer class="py-6 text-white bg-greenColor-400">
    <div class="max-w-6xl mx-auto px-4 lg:px-0">
        <div class="flex flex-col md:flex-row justify-between items-center rtl pt-8 lg:pt-4">
            <div>
                <ul class="flex items-center justify-start lg:justify-center my-auto rtl">
                    <li class="mx-3">
                        <a href="">التصنيفات</a>
                    </li>
                    <li class="mx-3">
                        <a href="https://goo.gl/maps/J2cmcGp89EdR9TcNA">موقعنا</a>
                    </li>
                </ul>
            </div>
            <p class="text-sm order-3 lg:order-none">جميع الحقوق محفوظة &copy; رونق الطبيعة</p>
            <div>
                <ul class="flex items-center justify-end lg:justify-center my-auto">
                    <li class="mx-1">
                        <a href="#" class="p-2 block group" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" 
                                width="50" height="50" class="w-8 text-white h-8 g" fill="currentColor"
                                viewBox="0 0 50 50">
                                    <path d="M25,3C12.85,3,3,12.85,3,25c0,11.03,8.125,20.137,18.712,21.728V30.831h-5.443v-5.783h5.443v-3.848 c0-6.371,3.104-9.168,8.399-9.168c2.536,0,3.877,0.188,4.512,0.274v5.048h-3.612c-2.248,0-3.033,2.131-3.033,4.533v3.161h6.588 l-0.894,5.783h-5.694v15.944C38.716,45.318,47,36.137,47,25C47,12.85,37.15,3,25,3z"></path>
                                </svg>
                        </a>
                    </li>
                    <li class="mx-1">
                        <a href="#" class="p-2 block group" target="_blank">
                            <svg class="w-8 text-white-400 h-8 " fill="currentColor" viewBox="0 0 512 512" id="icons" xmlns="http://www.w3.org/2000/svg"><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path></svg>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>